:root {
    --main-font: "Roboto", sans-serif; ;
    --secondary-font: "Raleway", sans-serif;;

    /* TEXT COLORS */
    --main-txt-cl: #757575 ;
    --secondary-txt-cl: #212121 ;

    /* BTN COLORS */
    --btn-txt-cl: #ffffff ;
    --btn-bg-cl: #2196F3 ;

    /* COLORS */
    --accent-cl: #2196F3 ;
    --main-bg-cl: #ffffff ;
    
    --black-cl: #212121 ;
    --grey-cl: #757575 ;
    
    /* BORDER RADIUS */
    --btn-border-radius: 4px;
    --border-radius: 0px 0px 4px 4px;

}

body {
    font-family: var(--main-font);
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}

button {
    font-family: inherit;

}

ul,
li,
h1,
h2,
h3,
h4,
h5,
p  {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--secondary-txt-cl);
    margin: 0;
    padding: 0;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* HEADER */

.header {
    border-bottom: 1px solid #ECECEC;
}

.heder-container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.contact-list {
    display: flex;
    margin-left: auto;
}

.nav-list {
    display: flex;
    align-items: center;
}

.logo {
    font-family: var(--secondary-font);
    color: #000;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
}

.logo-header {
    margin-right: 93px;
}

.logo-span {
    color: var(--accent-cl)
}

/* link nav */
.link-nav {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    color: var(--black-cl);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    position: relative;
}

.nav-list-item {
    margin-right: 50px;
}

.nav-list-item:last-child {
    margin-right: 0;
}

.link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
    color: var(--accent-cl)
}

.link-studio:visited {
    color: var(--accent-cl);
}

.link-studio::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    display: block;
    border-radius: 2px;
    background-color: var(--accent-cl);
}

.contact-list-item {
    margin-right: 50px;
}

.contact-list-item:last-child {
margin-right: 0px;
}

.link-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--grey-cl);
}

.link-contact {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.link-icon-contact {
    fill: #757575;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contact:hover .link-icon-contact,
.link-contact:focus .link-icon-contact {
    fill: #2196F3;
}

/* MAIN */

/* hero section */
.hero-section {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/main-page/bg-img.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.title-hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}

.btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    background-color: var(--btn-bg-cl);
    color: var(--btn-txt-cl);
    border: 0px;
    border-radius: var(--btn-border-radius);

    cursor: pointer;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    background-color: #188CE8;
}

/* our benefits */
.benefits-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list-benefits {
    display: flex;
}

.list-benefits-items::before {
    display: block;
    content: "";
    height: 120px;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}

.icon-antenna::before {
    background-image: 
    url(../images/icons/antenna.svg);
}

.icon-clock::before {
    background-image: 
    url(../images/icons/clock.svg);
}

.icon-diagram::before {
    background-image: 
    url(../images/icons/diagram.svg);
}

.icon-astronaut::before {
    background-image: 
    url(../images/icons/astronaut.svg);
}

.list-benefits-items {
    margin-right: 30px;
    width: 270px;
}
.list-benefits-items:last-child {
    margin-right: 0px;
}

.title-benefits {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.benefits-text {
    font-size: 14px;
    line-height: 1.7;
}

/* our work section */
.our-work-section {
    padding-bottom: 94px;
}

.our-work-section__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
}

.work-list {
    display: flex;
}

.work-list__item {
    margin-right: 30px;
    position: relative;
}

.work-list__box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-list__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.03em;
}

.work-list-item:last-child {
    margin-right: 0;
}

/* our team section */
.our-team-section {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.team-list {
    display: flex;
}

.team-list-item {
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list-item:last-child {
    margin-right: 0;
}

.team-card {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
}

.title-team {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
}

.title-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
}

.team-text {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

.list-sl {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.list-item-sl {
    margin-right: 10px;
}

.list-item-sl:last-child {
    margin-right: 0;
}

.link-icon-team {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon-team:hover,
.link-icon-team:focus {
    background-color: #2196F3;
}

.link-icon-team:hover .link-icon,
.link-icon-team:focus .link-icon {
    fill: #fff;
}

/* section client */
.section-client {
    padding-top: 94px;
    padding-bottom: 94px;
}

.client-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
}

.client-list {
    display: flex;
}

.client-list-item {
    margin-right: 30px;
    width: 170px;
    height: 92px;
}

.client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-item:last-child {
margin-right: 0;
}

.icon-client {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover .icon-client,
.client-link:focus .icon-client {
    fill: #2196F3;
}

.client-link:hover,
.client-link:focus {
    border: 1px solid #2196F3;
}

/* FOOTER */

.footer-container {
    display: flex;
    align-items: baseline;
}

.adress-container {
    display: block;
}
.social-container {
    margin-left: 70px;
}

.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer {
    color: #ffffff;
}
.adress {
    margin-top: 10px;
}

.footer-text {
    font-size: 14px;
    line-height: 1.7;
    color: #ffffff;
    margin-bottom: 9px;
}

.list-adress-items {
    margin-top: 9px;
}

.list-adress-items:first-child {
    margin-top: 0;
}

.sl-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}

.link-footer {
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
}

.link-icon-footer {
    fill: #fff;
}

.link-icon-team-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon-team-footer:hover,
.link-icon-team-footer:focus {
    background-color: #2196F3;
}

.email-container {
    margin-left: 93px;
}

.footer-form {
    display: flex;
}

.email-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.email-container input {
    width: 358px;
    height: 50px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 15px;
    margin-right: 12px;
    margin-top: 20px;
}

.email-btn {
    background-color: #2196f3;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    border-radius: 4px;
    border: 0px;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    position: relative;
    padding: 10px 62px 10px 29px;
    cursor: pointer;
}

.email-icon {
    position: absolute;
    right: 28px;
    top: 13px;
}

/* MODAL */

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14),
     0px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn-modal {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:hover .icon-modal,
.btn-modal:focus .icon-modal {
    fill: #2196F3;
}

.icon-modal {
    width: 11px;
    height: 11px;
}

.form {
    padding: 40px;
}

.form-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}

.form-text {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-text:last-child {
    margin-bottom: 0;
}

.form-text label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
}

.form-text:hover .icon-form,
.form-text:focus .icon-form,
.form-text input:focus-visible + .icon-form {
fill: #2196F3;
}

.form-text input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    width: 448px;
    height: 40px;
    padding-left: 42px;
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-text:hover textarea,
.form-text:focus textarea,
.form-text textarea:focus-visible,
.form-text:hover input,
.form-text:focus input,
.form-text input:focus-visible {
    border: 1px solid #2196F3;
}

textarea {
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    width: 448px;
    height: 120px;
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea::placeholder {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.icon-form {
    position: absolute;
    left: 12px;
    bottom: 11px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-agreement {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form-agreement input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.form-agreement label {
    display: flex;
    align-items: center;
    
}

.form-agreement input:checked + .icon-agreement {
    fill: #2196F3;
    background-color: #2196F3;
    border: 1px solid #2196F3;
}

.icon-agreement {
    margin-right: 8px;
    border: 2px solid #212121;
    border-radius: 2px;
    fill: #fff;
}

.form-link {
    text-decoration: underline;
    color: #2196F3;
}

.form-btn {
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #fff;
    width: 200px;
    height: 50px;
    border: 0px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
