.hero-section {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/main-page/bg-img.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.title-hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}

.btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    background-color: var(--btn-bg-cl);
    color: var(--btn-txt-cl);
    border: 0px;
    border-radius: var(--btn-border-radius);

    cursor: pointer;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: #188CE8;
    }
}