.our-work-section {
    padding-bottom: 94px;
}

.our-work-section__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
}

.work-list {
    display: flex;
}

.work-list__item {
    margin-right: 30px;
    position: relative;
}

.work-list__box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-list__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.03em;
}

.work-list-item:last-child {
    margin-right: 0;
}