:root {
    --main-font: "Roboto", sans-serif; ;
    --secondary-font: "Raleway", sans-serif;;

    /* TEXT COLORS */
    --main-txt-cl: #757575 ;
    --secondary-txt-cl: #212121 ;

    /* BTN COLORS */
    --btn-txt-cl: #ffffff ;
    --btn-bg-cl: #2196F3 ;

    /* COLORS */
    --accent-cl: #2196F3 ;
    --main-bg-cl: #ffffff ;
    
    --black-cl: #212121 ;
    --grey-cl: #757575 ;
    
    /* BORDER RADIUS */
    --btn-border-radius: 4px;
    --border-radius: 0px 0px 4px 4px;
}